@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  /* background-image: url("./assets/images/bg.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  transition: background 1s ease-in-out, background-color 1s ease-in-out;
}

#bg-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  mix-blend-mode: overlay;
}

@font-face {
  font-family: "Forgotten Futurist";
  src: url("./assets/fonts/forgotten-futurist.rg-regular.otf");
}

@font-face {
  font-family: "WonderFont";
  src: url("./assets/fonts/RobotWondersItalic-zrRg1.ttf");
}

@font-face {
  font-family: "Hemi-head";
  src: url("./assets/fonts/hemi\ head\ bd\ it.otf");
}

@font-face {
  font-family: "InfiniteEnergy";
  src: url("./assets/fonts/InfiniteEnergy-Eaxp8.ttf");
}

.section-text {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}

.title {
  font-family: "InfiniteEnergy", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
  color: cyan;
  margin: 20px 0;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.sponsor span {
  font-size: 0.8rem;
  font-family: "Hemi-head", sans-serif;
}

.sponsor img {
  max-width: 150px;
}

.techy-window {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: 2px solid cyan;
  border-radius: 10px;
  box-shadow: 0 0 15px cyan, inset 0 0 10px cyan;
  overflow: hidden;
}

.header img {
  width: 30%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.techy-window::before {
  border-top-left-radius: 10px;
}

.techy-window::after {
  border-bottom-right-radius: 10px;
}
section {
  /* min-height: 100vh; */
  margin: 40px auto;
}
#vanta-canvas {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(75deg);
  display: none;
}

/*Glitch effect styles*/
.glitch-text {
  font-size: 50px;
  font-weight: bold;
  color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 10px cyan;
  display: inline-block;
  font-family: "WonderFont", sans-serif;
  margin: 10px;
}

.glitch-char {
  opacity: 0;
  animation: glitch-glow 5s infinite;
}

@keyframes glitch-glow {
  0%,
  95% {
    text-shadow: 0 0 5px rgba(13, 255, 255, 0.493),
      0 0 10px rgba(0, 255, 255, 0.51);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.539),
      0 0 40px rgba(0, 255, 255, 0.55);
  }
}

/* Hero section styles */
.main {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  /* max-width: 500px; */
  /* width: 40%; */
}

.hero p {
  margin: 10px auto;
  font-family: "Hemi-head", sans-serif;
}

.hero > * {
  max-width: 80%;
  text-align: center;
}

/* Button */
.btn-container {
  display: flex;
  gap: 15px;
  margin: 15px auto;
}
:root {
  /*  change this for scaling  */
  --m: 1rem;

  --cyan: #00ffff;
  --light-cyan: #e0ffff;
  --dark-cyan: #008b8b;
  --teal: #20b2aa;
  --blue: #00bfff;
  --light-blue: #add8e6;
  --dark-blue: #1e90ff;
}

.button {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #f3f3f3;
  font-family: "Hemi-head", sans-serif;
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: 10px 12px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      var(--cyan),
      var(--light-cyan),
      var(--teal),
      var(--blue),
      var(--dark-blue),
      var(--light-blue),
      var(--dark-cyan)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

.button::before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--cyan),
    var(--light-cyan),
    var(--teal),
    var(--blue),
    var(--dark-blue),
    var(--light-blue),
    var(--dark-cyan)
  );
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

.button:hover,
.button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

/* OBJECTIVE */

.card {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid cyan;
  box-shadow: 0 8px 32px 0 rgba(0, 247, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
}

.structure-sub h1{
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-variant: all-petite-caps;
  font-size: 1.2rem;
  margin: 20px 0;
}

.structure-sub p{
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  margin: 20px 0;
}

.rules {
  width: 92%;
  padding-bottom: 20px;
}

.rules li {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}


@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
}