@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  transition: background 1s ease-in-out, background-color 1s ease-in-out;
}

#bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  mix-blend-mode: overlay;
}

@font-face {
  font-family: "Forgotten Futurist";
  src: url("./assets/fonts/forgotten-futurist.rg-regular.otf");
}

@font-face {
  font-family: "WonderFont";
  src: url("./assets/fonts/RobotWondersItalic-zrRg1.ttf");
}

@font-face {
  font-family: "Hemi-head";
  src: url("./assets/fonts/hemi\ head\ bd\ it.otf");
}

@font-face {
  font-family: "InfiniteEnergy";
  src: url("./assets/fonts/InfiniteEnergy-Eaxp8.ttf");
}

.section-text {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}
#preloader {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Background images at the lowest layer */
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bg.active {
  opacity: 1;
}

#preloader-text {
  position: relative;
  z-index: 2; /* Ensure text appears above the images */
  color: white;
  font-size: 3rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  display: none; /* Hidden initially */
  position: relative;
  z-index: 3; /* Main content above everything else */
}

.title {
  font-family: "InfiniteEnergy", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
  color: cyan;
  margin: 20px 0;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.sponsor span {
  font-size: 0.8rem;
  font-family: "Hemi-head", sans-serif;
}

.sponsor img {
  max-width: 150px;
}

.techy-window {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: 2px solid cyan;
  border-radius: 10px;
  box-shadow: 0 0 15px cyan, inset 0 0 10px cyan;
  overflow: hidden;
}

.header img {
  width: 30%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.techy-window::before {
  border-top-left-radius: 10px;
}

.techy-window::after {
  border-bottom-right-radius: 10px;
}
section {
  /* min-height: 100vh; */
  margin: 40px auto;
}
#vanta-canvas {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(75deg);
  display: none;
}

/*Glitch effect styles*/
.glitch-text {
  font-size: 50px;
  font-weight: bold;
  color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 10px cyan;
  display: inline-block;
  font-family: "WonderFont", sans-serif;
  margin: 10px;
}

.glitch-char {
  opacity: 0;
  animation: glitch-glow 5s infinite;
}

@keyframes glitch-glow {
  0%,
  95% {
    text-shadow: 0 0 5px rgba(13, 255, 255, 0.493),
      0 0 10px rgba(0, 255, 255, 0.51);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.539),
      0 0 40px rgba(0, 255, 255, 0.55);
  }
}

/* Hero section styles */
.main {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  /* max-width: 500px; */
  width: 40%;
}

.hero p {
  margin: 10px auto;
  font-family: "Hemi-head", sans-serif;
}

.hero > * {
  max-width: 80%;
  text-align: center;
}

/* Button */
.btn-container {
  display: flex;
  gap: 15px;
  margin: 15px auto;
}
:root {
  /*  change this for scaling  */
  --m: 1rem;

  --cyan: #00ffff;
  --light-cyan: #e0ffff;
  --dark-cyan: #008b8b;
  --teal: #20b2aa;
  --blue: #00bfff;
  --light-blue: #add8e6;
  --dark-blue: #1e90ff;
}

.button {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: white;
  font-family: "Hemi-head", sans-serif;
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: 10px 12px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      var(--cyan),
      var(--light-cyan),
      var(--teal),
      var(--blue),
      var(--dark-blue),
      var(--light-blue),
      var(--dark-cyan)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

.button::before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--cyan),
    var(--light-cyan),
    var(--teal),
    var(--blue),
    var(--dark-blue),
    var(--light-blue),
    var(--dark-cyan)
  );
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

.button:hover,
.button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

/* OBJECTIVE */

.card {
  width: 70%;
  margin: 0 auto;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid cyan;
  box-shadow: 0 8px 32px 0 rgba(0, 247, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
}

.structure-sub h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-variant: all-petite-caps;
  font-size: 1.2rem;
  margin: 20px 0;
}

.structure-sub p {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  margin: 20px 0;
}

.rules {
  width: 92%;
  padding-bottom: 20px;
}

.rules li {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .header img {
    width: 70%;
  }
  .main {
    flex-direction: column-reverse;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  .main > * {
    width: 100% !important;
  }
  .glitch-text {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
  #container img {
    transform: translateY(-26px) translateX(-50%) !important;
  }
  .card {
    width: 90%;
  }
  .rules {
    width: 80%;
  }
  .structure {
    width: 90%;
  }
}

/* RULES */
:root {
  /* Colors */
  --color-primary: #ff4b4b;
  --color-text: #545d7a;
  --color-white: #fff;
  --color-title: #242e4c;
  --color-background: #f7f8fb;
  --color-border: #dae1f5;

  /* Fonts */
  --font-family: "Satoshi", sans-serif;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.2rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Transition & Box Shadow */
  --transition: 0.4s ease-in-out;
  --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
}

.container {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  display: grid;
  place-items: center;
}

.accordion__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid cyan;
  box-shadow: 0 8px 32px 0 rgba(0, 247, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  box-shadow: var(--shadow);
  border-radius: 2.5rem;
  border-radius: 10px;
  max-width: 70%;
  padding: 25px;
}

.accordion__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  /* color: var(--color-title); 
*/
  font-family: "infiniteEnergy", sans-serif;
  color: cyan;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 4rem;
}

.accordion {
  border-bottom: 0.1rem solid var(--color-border);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.accordion__icon {
  background-color: var(--color-primary);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  flex-shrink: 0;
}

.accordion__question {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--color-title);
}

.accordion__answer {
  padding: 2rem 0;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}
@media screen and (max-width: 768px) {
  .accordion__wrapper {
    max-width: 90%;
  }
  
}

@media screen and (min-width: 768px) {
  .accordion__wrapper {
    padding: 30px 35px;
  }
}

.section {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  font-family: "outfit", sans-serif;
}

.section__header {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.section__header h2 {
  font-size: 18px;
  color: white;
  margin: 0;
}

.section__content {
  padding: 15px;
  font-size: 16px;
  color: white;
  line-height: 1.6;
}

.section__content p {
  margin: 0;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* TABLE */
.custom-table {
  display: grid;
  gap: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
}

.custom-row {
  display: contents;
}

.custom-cell {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f9f9f9; */
  /* font-size: 14px; */
  text-align: center;

}

.header-row .custom-cell {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.total-points-row .custom-cell {
  /* background-color: rgba(0, 255, 255, 0.582); */
  color: cyan;
  font-family: "Roboto", sans-serif;
  font-variant: all-petite-caps;
  font-weight: bold;
  grid-column: span 2;
}

@media (max-width: 768px) {
  .custom-row {
    grid-template-columns: 1fr;
  }
  .custom-cell {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .custom-row {
    grid-template-columns: 2fr 1fr;
  }
}

/* FAQ */
.container__faq {
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  font-family: "Outfit", sans-serif !important;
}

.accordion__faq .accordion-item__faq {
  border-bottom: 1px solid #e5e5e5;
}

.accordion__faq .accordion-item__faq button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion__faq button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion__faq button:hover,
.accordion__faq button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion__faq button .accordion-title__faq {
  font-family: "Outfit", sans-serif;
  color: white;
  max-width: 90%;
  display: block;
}

.accordion__faq button .icon__faq {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1em;
  width: 22px;
  height: 22px;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translateY(-50%);
}

.accordion__faq button .icon__faq::before,
.accordion__faq button .icon__faq::after {
  content: '';
  position: absolute;
  background: currentColor;
  width: 50%; /* Reduced width for better proportion */
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion__faq button .icon__faq::after {
  width: 2px;
  height: 50%; /* Reduced height for better proportion */
}

.accordion__faq button[aria-expanded='true'] .icon__faq::after {
  display: none;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .accordion__faq button .accordion-title__faq {
    font-size: 1rem;
  }

  .accordion__faq button .icon__faq {
    width: 18px;
    height: 18px;
    border: 2px solid currentColor;
  }

  .accordion__faq button .icon__faq::before,
  .accordion__faq button .icon__faq::after {
    width: 50%;
    height: 2px;
  }

  .accordion__faq button .icon__faq::after {
    width: 2px;
    height: 50%;
  }
}



.accordion__faq button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion__faq button[aria-expanded='true'] .icon__faq::after {
  width: 0;
}
.accordion__faq button[aria-expanded='true'] + .accordion-content__faq {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion__faq .accordion-content__faq {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion__faq .accordion-content__faq p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

@media screen and (max-width: 500px) {
    .button{
      min-width: 100px;
      font-size: smaller;
    }
}
.winning_criteria {
  margin: 15px auto;
  padding: 10px;
  font-family: "Outfit", sans-serif;
  width: 100%;
}

.winning_criteria > *{
  margin: 10px 0;
}
